<html>
<head>
    <title>Interro AI</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/logo.ico"/>
</head>
<body>
    <h1>Interro AI</h1>
    <form action="" method="post">
    {% csrf_token %}
        <label for="debut_question">Le début de la question :</label>
        <input type="text" name="debut_question" value="{{ debut_question }}">
        <button type="submit">Je triche !</button>
    </form>
    <div class="question">
        {{ question }}
    </div>
    <div class="reponse">
        {{ reponse }}
    </div>
    <a href="#" id="myLink">Comment ça marche?</a>
    <div id="explication">
        Etape 1 : Appuyez sur Windows + flèche gauche pour mettre cette page sur le coté gauche, et la page de l'examen sur le coté droit.<br><br>
        Etape 2 : Rentrez le premier mot de la question.<br><br>
        Etape 3 : Cliquez sur Envoyer.<br><br>
    </div>
    <script src="/static/help.js"></script>
</body>
</html>
