
<html>
    <head>
        <title>Interro AI</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    
    <body>
        <h1>Interro AI</h1>
        <div class="explication">
            Etape 1 : Appuyez sur Windows + flèche gauche pour mettre la page de l'application sur le coté gauche, et la page web/le document de l'examen sur le coté droit.<br><br>
            Etape 2 : Rentre le premier mot de la question.<br><br>
            Etape 3 : Clique sur Envoyer.<br><br>
        </div>
        <a href="{% url 'home' %}">J'ai compris maintenant je veux tricher</a>
    </body>
    </html>
