
<html>
    <head>
        <title>Interro AI</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    
    <body>
        <h1>Interro AI</h1>
        <div class="explication">
        Etape 1 : Appuye sur Windows + flèche gauche pour mettre cette page web sur le coté gauche, et la page web/document de ton test sur le coté droit.<br><br>
        Etape 2 : Dans ton test, zoom sur la question de ton choix avec Controle + Molette avant<br><br>
        Etape 3 : Rentre le premier mot et le dernier mot de la question.<br><br>
        Etape 4 : Clique sur Envoyer.<br><br>
        </div>
        <a href="{% url 'home' %}">J'ai compris maintenant je veux tricher</a>
    </body>
    </html>